autom4te.cache
Makefile
Makefile.in
aclocal.m4
config.log
config.status
config.guess
config.sub
configure
.deps
.libs
*.o
*.la
*.lo
libtool
*.tar.gz
stamp-h1
config.h
config.h.in
intltool-*
mkinstalldirs
install-sh
ltmain.sh
missing
depcomp
*.dll
mingw32-libs
tw-light.exe
tw-light-debug.exe
.geanyprj
obj-win32
Debug
Release
*.suo
*.ncb
/.vs
/tw-light.vcxproj.user

